<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0;
        padding:0;
        box-sizing: border-box;
    }
    .container{
        width: 100vw;
        height:100vh;
        background-color: rgb(83, 140, 214);
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
    <%-include("./navbar.ejs")%>
    <div class="container">
        <h1> We are coming soon with this facility page</h1>
    </div>
</body>
</html>