<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <h2>New listing</h2>
    <form method="POST" action="/">
        <input type="text" name="name" placeholder="Enter name">
        <input type="text" name="role" placeholder="Enter role">
        
        <input type="text" name="info" placeholder="Enter info">
<button>Create NEw</button>
    </form>
</body>
</html>